### Тема "Вычисления с помощью Numpy"
#### Задание 1

In [1]:
import numpy as np

In [2]:
a = np.array([[1, 2, 3, 3, 1], [6, 8, 11, 10, 7]])
mean_a = np.mean(a, axis=1)
print(mean_a)

[2.  8.4]

#### Задание 2

In [3]:
a_centered1 = np.array([a[0:1] - mean_a[0]])[0]
a_centered2 = np.array([a[1:2] - mean_a[1]])[0]
a_centered = np.append(a_centered1, a_centered2, axis=0)
print(a_centered)

[[-1.   0.   1.   1.  -1. ]
 [-2.4 -0.4  2.6  1.6 -1.4]]

#### Задание 3

In [4]:
a_centered_sp = np.dot(a_centered[0, :], a_centered[1, :])
print(a_centered_sp)
print (a_centered_sp/(a_centered.size - 1))

8.0
0.8888888888888888

#### Задание 4

### Тема “Работа с данными в Pandas”
#### Задание 1

In [2]:
import pandas as pd

In [3]:
a = {
    "author_id": [1, 2, 3],
    "author_name": ["Тургенев", "Чехов", "Островский"]
}
authors = pd.DataFrame(a)
print (authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [4]:
a = {
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
}

books = pd.DataFrame(a)
print (books)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

#### Задание 2

In [5]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

#### Задание 3

In [6]:
top5 = authors_price.sort_values(by="price", axis=0, ascending=False, inplace=False)
print(top5.head())

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

#### Задание 4
Сначала создаём новый объект DataFrame с уникальными авторами.

In [9]:
group = authors_price.groupby('author_id')
authors_stat = pd.DataFrame(group.apply(lambda x: x['author_id'].unique()))
authors_stat.columns = ['author_id']

потом на основании уже существующей группы находим вычисленные столбцы ))

In [10]:
authors_stat.loc[:,'min_price'] = group.apply(lambda x: x['price'].min())
authors_stat.loc[:,'max_price'] = group.apply(lambda x: x['price'].max())
authors_stat.loc[:,'mean_price'] = group.apply(lambda x: x['price'].mean())

print(authors_stat)

          author_id  min_price  max_price  mean_price
author_id
1               [1]        300        450  366.666667
2               [2]        450        500  475.000000
3               [3]        290        370  330.000000