### Тема “Обучение с учителем”
#### Задание 1

In [11]:
import warnings

warnings.filterwarnings('ignore')

In [72]:
import numpy as np
import pandas as pd
import sklearn as skl

In [55]:
boston = skl.datasets.load_boston()
data = boston["data"]
feature_names = boston["feature_names"]

In [56]:
X = pd.DataFrame(data, columns=feature_names)
target = boston["target"]
y = pd.DataFrame(target, columns=["price"])

In [57]:
X_train, X_test, y_train, y_test = skl.model_selection.train_test_split(X, y, test_size=0.3, random_state=42)

In [58]:
lr = skl.linear_model.LinearRegression()

In [59]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [60]:
y_pred = lr.predict(X_test)

In [61]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [62]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]

check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

In [63]:
skl.metrics.mean_squared_error(check_test["y_test"], check_test["y_pred"])

21.51744423117712

In [64]:
skl.metrics.mean_absolute_error(check_test["y_test"], check_test["y_pred"])

3.1627098714573902

In [65]:
skl.metrics.r2_score(check_test["y_test"], check_test["y_pred"])

0.7112260057484945

#### Задание 2

In [77]:
? skl.ensemble.RandomForestRegressor

In [78]:
rfr = skl.ensemble.RandomForestRegressor()

In [ ]:
rfr.fit(X_train, y_train)